
.container-fluid {
    display: inline-block;
    height: 50px;
    background-color: rgb(31, 43, 56);
    color: white;
    text-align:center;
    padding: 25px;
    position: relative;
    background-image: url("assets/github\ logo.png");
    background-size: 30px;
    background-repeat: no-repeat; 
    background-color: rgb(31, 43, 56); 
    background-position: 15px;
    
  }
  
  .containera {
    display: inline-flex;
    background-color: black;
    margin-top: 80px;
    margin-left: 50px;
    border-radius: 15px;
  }
  
  .containerb {
    display: inline;
    background-color: black;
    color: gray;
    border-radius: 10px;
    position: absolute;
    margin-left: 15%;
    padding: 8px;
    margin-block-start: 40px;
  }
  
  .containerc {
    display: inline-flex;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    margin-top: 150px;
    margin-left: 50%;
  }
  
  .containerd {
    display: inline-block;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    margin-top: 150px;
    margin-left: 30%;
  }
  
  .containere {
    display: inline-block;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    margin-top: 150px;
    margin-left: 10%;
  }
  
  .containerf {
    display: inline-flex;
    background-color: black;
    border-radius: 15px;
    position: absolute;
    margin-top: 320px;
    margin-left: 10%;
  }
